# GRENOBLE TREES: DATA PROCESSING

<span style="color:Orange">

## Imports
</span>

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# Paths
"""
raw 
artifacts
reports
"""

<span style="color:Orange">

## Loading Data
</span>

In [4]:
df = pd.read_csv('../data/raw/arbres_grenoble_epsg4326.csv', sep=',', header = 0, index_col=False,names=None)

In [6]:
df.head()

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
0,5259,ESP11324,AR11324,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP175,...,NaN,NaN,Grenoble Alpes Métropole,NaN,NaN,NaN,Métropole de Grenoble,Tige,NaN,"45.175673908288694,5.749421158918044"
1,1478,ESP27796,AR27796,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP175,...,NaN,NaN,Grenoble Alpes Métropole,NaN,NaN,NaN,Métropole de Grenoble,Tige,NaN,"45.175689031385716,5.749449836814956"
2,13139,ESP4323,AR4323,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP1009,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Libre,Métropole de Grenoble,NaN,Libre,"45.175403375194556,5.748482643586666"
3,24132,ESP7132,AR7132,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP1009,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,NaN,Ville de Grenoble,NaN,NaN,"45.17542427590123,5.748557574259692"
4,23970,ESP15162,AR15162,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP625,...,NaN,NaN,Ville de Grenoble,NaN,Moins de 10 m,NaN,Ville de Grenoble,NaN,NaN,"45.17760812265083,5.749356960358159"

In [7]:
df.tail()

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
31731,18164,ESP27355,AR27355,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP915,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.16662555881056,5.725420773879907"
31732,18170,ESP27356,AR27356,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP215,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Libre,Métropole de Grenoble,NaN,Libre,"45.166507843931036,5.724994100759832"
31733,18173,ESP27357,AR27357,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP544,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.164310298174165,5.72386645777105"
31734,18179,ESP27358,AR27358,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP917,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,NaN,Ville de Grenoble,NaN,NaN,"45.160543156799626,5.723835565766619"
31735,18182,ESP27359,AR27359,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP1118,...,NaN,NaN,Grenoble Alpes Métropole,NaN,Moins de 10 m,Libre,Métropole de Grenoble,Tige,Libre,"45.16462354239855,5.72746980135806"

In [9]:
print("Number of Rows: {}".format(df.shape[0]))
print("Number of Columns: {}".format(df.shape[1]))

Number of Rows: 31736
Number of Columns: 38

<span style="color:Orange">

## Columns
</span>

**Data type and structure**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31736 entries, 0 to 31735
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   elem_point_id          31736 non-null  int64
 1   code                   31736 non-null  object
 2   nom                    31736 non-null  object
 3   genre                  31736 non-null  object
 4   genre_desc             31736 non-null  object
 5   categorie              31736 non-null  object
 6   categorie_desc         31736 non-null  object
 7   sous_categorie         31736 non-null  object
 8   sous_categorie_desc    31736 non-null  object
 9   code_parent            31736 non-null  object
 10  code_parent_desc       31736 non-null  object
 11  adr_secteur            31736 non-null  int64
 12  bien_reference         31736 non-null  object
 13  genre_bota             30984 non-null  object
 14  espece                 29401 non-null  object
 15  variete                4646 non-null   object
 16  stadededeveloppement   28187 non-null  object
 17  equipe                 0 non-null      float64
 18  remarques              5215 non-null   object
 19  anneedeplantation      30144 non-null  float64
 20  raisondeplantation     3315 non-null   object
 21  traitementchenilles    2123 non-null   object
 22  courrier               0 non-null      float64
 23  identifiantplu         600 non-null    float64
 24  typeimplantationplu    5185 non-null   object
 25  intituleprotectionplu  600 non-null    object
 26  anneeabattage          0 non-null      float64
 27  essouchement           0 non-null      float64
 28  diametrearbre          0 non-null      float64
 29  causeabattage          0 non-null      float64
 30  collectivite           30997 non-null  object
 31  stationmetro           1906 non-null   object
 32  hauteurarbre           20496 non-null  object
 33  portarbre              14183 non-null  object
 34  structure              30971 non-null  object
 35  forme                  8700 non-null   object
 36  typenature             14183 non-null  object
 37  geo_point_2d           31736 non-null  object
dtypes: float64(8), int64(2), object(28)
memory usage: 9.2+ MB

In [15]:
print("* Number of unique values for 'object' columns:\n")

for label, column in df.select_dtypes('object').items():
    print('-'*40)
    print(f'Column name: {label}')
    print(f'Number of unique values: {column.nunique()}')
    print(f'Unique values: {column.unique()}')

* Number of unique values for 'object' columns:

----------------------------------------
Column name: sous_categorie
Number of unique values: 4
Unique values: ['ESP151' 'ESP174' 'ESP065' 'ESP187']
----------------------------------------
Column name: code_parent
Number of unique values: 1474
Unique values: ['ESP175' 'ESP1009' 'ESP625' ... 'ESP924' 'ESP64' 'ESP799']
----------------------------------------
Column name: genre_bota
Number of unique values: 116
Unique values: ['Robinia' 'Acer' 'Fraxinus' 'Prunus' 'Liquidambar' 'Gleditsia' 'Malus'
 'Celtis' 'Quercus' 'Alnus' 'Zelkova' 'Pyrus' 'Pistacia' 'Ulmus' nan
 'Gymnocladus' 'Taxodium' 'Lagerstroemia' 'Sophora' 'Carpinus' 'Platanus'
 'Populus' 'Pinus' 'Cedrus' 'Picea' 'Liriodendron' 'Metasequoia' 'Taxus'
 'Sequoia' 'Koelreuteria' 'Chamaecyparis' 'Aesculus' 'Fagus' 'Betula'
 'Tilia' 'Magnolia' 'Corylus' 'Diospyros' 'Cupressus' 'Punica' 'Ginkgo'
 'Sambucus' 'Morus' 'Salix' 'Cedrela' 'Broussonetia' 'Calocedrus' 'Cercis'
 'Parrotia' 'Paulownia' 'Cornus' 'Ailanthus' 'Pterocarya' 'Sorbus'
 'Tetradium' 'Cupressocyparis' 'Ficus' 'Carya' 'Cercidiphyllum' 'Ilex'
 'Juniperus' 'Ostrya' 'Chionanthus' 'Catalpa' 'Castanea' 'Juglans' 'Thuja'
 'Crataegus' 'Phellodendron' 'Abies' 'Rhus' 'Amélanchier' 'Ptelea'
 'Mespilus' 'Cladastris' 'Syringa' 'Cydonia' 'Maclura' 'Eleagnus'
 'Davidia' 'Halesia' 'Hibiscus' 'Sequoiadendron' 'Albizia' 'Clerodendron'
 'Larix' 'Pteroceltis' 'Trachycarpus' 'Olea' 'Cotinus' 'Photinia'
 'inconnu' 'Buxus' 'Cephalotaxus' 'Chimonanthus' 'Poncinos' 'Phillyrea'
 'Sorbopyrus' 'Lonicera' 'Eriobotrya ' 'Laburnum' 'Hovenia' 'Eucalyptus'
 'Ligustrum' 'Fontanesia' 'Chitalpa' 'Pterostyrax' 'Nyssa' 'Rhamnus'
 'Styrax' 'Staphylea' 'Pseudotsuga' 'Araucaria' 'Cryptomeria' 'Idesia'
 'Acacia' 'Sterculia']
----------------------------------------
Column name: espece
Number of unique values: 279
Unique values: ['pseudoacacia' 'campestre' 'americana' 'avium' 'negundo' 'styraciflua'
 'triacanthos' 'trojana' 'australis' 'petraea' 'serrulata' 'castaneifolia'
 'heterophylla' 'spaethii' 'imbricaria' 'serrata' 'calleryana' 'chinensis'
 'parvifolia' 'indica' 'rysophylla' 'cerris' nan 'angustifolia' 'dioicus'
 'lamarckii' 'wislizeni' 'laevis' 'triandra' 'stenoptera' 'japonica'
 'orientalis' 'hispanica' 'nigra' 'excelsior' 'atlantica' 'betulus'
 'acerifolia' 'platanoides' 'abies' 'minor' 'tulipifera'
 'glyptostroboides' 'sylvestris' 'baccata' 'sempervirens' 'saccharinum'
 'paniculata' 'padus' 'lawsoniana' 'hippocastanum' 'sylvatica' 'verrucosa'
 'cordata' 'oxycarpa' 'grandiflora' 'pseudoplatanus' 'colurna'
 'soulangeana' 'lotus' 'arizonica' 'granatum' 'cerasus' 'biloba' 'alba'
 'cerasifera' 'utilis' 'glabra' 'platyphyllos' 'sinensis' 'tomentosa'
 'papyrifera' 'decurrens' 'pendula' 'siliquastrum' 'persica' 'glutinosa'
 'robur' 'canadensis' 'florida' 'deodara' 'pennsylvanica' 'perpetu'
 'omorika' 'altissima' 'fraxinifolia' 'daniellii' 'leylandii' 'communis'
 'velutina' 'carica' 'elaeagnifolia' 'prunifolia' 'pyrifolia' 'frainetto'
 'ornus' 'ovata' 'libani' 'mandshurica' 'domestica' 'ilex' 'freemanii'
 'everest' 'cordiformis' 'tatarinowii' 'monspessulanum' 'carpinifolia'
 'retusus' 'carpinifolium' 'pinea' 'mongolica' 'acutissima' 'griseum'
 'bignonoides' 'japonicum' 'sativa' 'racemosa' 'plicata' 'laevigata'
 'quadrangulata' 'lutea' 'armeniaca' 'kobus' 'amurense' 'trilobata'
 'nordmanniana' 'laurocerasus' 'typhina' 'mariesii' 'trifoliata'
 'germanica' 'pungens' 'mas' 'regia' 'floribunda' 'oxyacantha' 'monogyna'
 'ginnala' 'salicifolia' 'chamaemespilus' 'cappadocicum' 'aria' 'concolor'
 'kaki' 'wallichiana' 'henryana' 'subhirtella' 'europaea' 'carnea'
 'triflorum' 'macrophyllum' 'resista' 'capillipes' 'vulgaris' 'variabilis'
 'pumila' 'phellos' 'laciniosa' 'dulcis' 'avellana' 'oblonga'
 'tschonoskii' 'davidii' 'pomifera' 'occidentalis' 'involucrata'
 'denboerii' 'matsudana' 'carolina' 'kentukea' 'griffithii' 'parviflora'
 'syriacus' 'accolade' 'rubrum' 'virginiana' 'kiusiana' 'macrolepis'
 'giganteum' 'rubra' 'julibrissin' 'tremula' 'tricotonum' 'serotina'
 'latifolia' 'cuspidata' 'decidua' 'hupehensis' 'bombycis' 'fortunei'
 'myrsinifolia' 'coggygria' 'caprea' 'aucuparia' 'villosa' 'babylonica'
 'palustris' 'julianae' 'euchlora' 'aquifolium' 'alnifolia' 'distychum'
 'lavallei' 'buergerianum' 'harringtonia' 'yedoensis' 'nootkatensis'
 'lusitanica' 'campestris' 'praecox' 'nivalis' 'stellata' 'spinosa'
 'pensylvanicum' 'pinsapo' 'auricularis' 'crenata' 'pavia' 'anagyroides'
 'simonii' 'incisa' 'palmatum' 'falcata' 'gunii' 'viminalis' 'heptapeta'
 'drupacea' 'sepulcralis' 'virginicus' 'incana' 'zoeschense' 'platanor'
 'phillyreoides' 'controversa' 'rosmarinifolia' 'tashkentensis' 'suber'
 'hispida' 'heldreichii' 'sinense' 'macrocarpa' 'hybride' 'monticola'
 'sieboldii' 'amygdaliformis' 'torminalis' 'amurensis' 'opalus'
 'sieboldiana' 'alaternus' 'amygdalus' 'bumalda' 'mugo' 'liliflora'
 'cachemeriana' 'menziesii' 'tartaricum' 'araucana' 'ioenis' 'bicolor'
 'turneri' 'ibota' 'formosensis' 'coccinea' 'sanguinea' 'polycarpa'
 'thuringiaca' 'spectabilis' 'purpurea' 'campanulata' 'mahaleb' 'koreana'
 'bungeana' 'dealbata' 'schmittii' 'hollandica' 'galaxy' 'pisifera'
 'foetida' 'strobus']
----------------------------------------
Column name: variete
Number of unique values: 219
Unique values: [nan 'Skyline' 'Green vase' 'Borowitsky' 'Kanzan' 'Graeberiana'
 'May Flower' 'Worplesdon' 'Inermis' 'Plena' 'Lucombeana' 'Angers'
 'Austriaca' 'Glauca' 'Atropurpurea' 'Raywood' 'Schwedleri nigra' 'Wierii'
 'Street parade' 'Flame' 'Italica' 'Pyramidalis' 'Legrelliae' 'Robusta'
 'Columnaris' 'Chirokee chief' 'Evereste' 'Capital' 'Chanticleer'
 'Columnare' 'Orientalis' 'Eleaegnifolia' 'Amurensis' 'Saint Emilion'
 'Sunset boulevard' 'Cleveland' 'Elegantissima' 'Summer Bells'
 'Docteur Guyot' 'Eurostar' 'Collingwood Ingram' "Paul's scarlet"
 'Pink Giant' 'Celzam' 'Williams' 'Belle de Boskoop Rouge'
 'Nashi shinseiki' 'Luizet' 'Charles Roux' 'Flamingo' 'Shirotae'
 'Kosteriana glauca' 'Sanguine Vineuse' 'Calva' 'Golden Hornett'
 'Autumnalis' 'Baumanii' 'Inermis skyline' 'Amanogawa' 'Sapporo Gold'
 'Reine claude' 'Reine des reinettes' 'Bigarreau burlat'
 'Ronde de Bordeaux' 'Parisienne' 'Reinette grise Du canada'
 'Beurre Hardy' "Quetsche d'Alsace" 'Fuyu' 'Idared' 'Emerald Queen'
 'Automne Gold' 'Elsrijk' 'Griotte' 'Karina' "Louise Bonne d'Avranche"
 'Reinette blanche du Canada' 'Nucipersica' 'Bergeron'
 'Mirabelle de Nancy' 'Transparente de Croncels' 'Inermis Sunburst'
 'Fastigiata' 'Evelyn' 'Tortuosa' 'Grosses mignonnes' 'Delbard exquise'
 'Conférence' 'John downie' 'Scanlon' 'Elstar' 'Aureomarginatum'
 'Variegata' 'Aureum' 'Rubrum' 'Autumn blaze' 'Alumii' 'Stricta' 'Briotii'
 'Golden delicious' 'Purpurea' 'Negenia' 'Engelmanii' 'David'
 'Sapporo autumn gold' 'Dawyck gold' 'Purpurea pendula' 'Fruitless'
 'Pissardii' 'Pendula' 'New horizon' 'Fast gold' 'Pedonculata' 'Spaethii'
 'Shidare yoshino' 'Aureo variegata' 'Starking' 'Imperialis' 'Myrobolan'
 'Purpurascens' 'Carrierei' 'Tristis' 'Laciniata' 'Capillipes'
 'Asplenifolia' 'Jacquemontïi' 'Laricio' 'Walter' 'Planteriensis'
 'Contorta' 'Chrysocoma' 'Westhoff glorie' 'Annae' 'Vallis clausa' 'Yang'
 'Magnifica' 'Mancana' 'Greenspire' 'Fortunei' 'Mariesii'
 'Brilliantissimum' 'Black Tulip' 'Jaspidea' 'Hupehensis' "Cox's orange"
 'Doyenne du comice' 'Maxim' 'Fargesii' 'Granny Smith' "Clapp's Favorite"
 'Précoce de Trévoux' 'Belle de Pontoise' 'Mecsek' 'Pandora' 'Melrose'
 'Mughus' 'Marguerite Marillat' "Reine Claude d'Althan"
 'Sanguine de Savoie' 'Champion' 'Lauranne' 'Polonais'
 'Belle Fille de Salins' 'Cul de Poulet' 'Amsden' 'Gala' 'Rouge' 'Nigra'
 'Pubescens' 'Catherine Havemeyer' 'Fairview flam' 'Red obelisk'
 'Bradford' 'Ombrella' 'Jonagold' 'Reinette Vignat' 'Nationale' "D'Eylau"
 'Purpurea Evelyn' 'Ardéchoise' 'Hubert' 'Franc roseau' 'Claude Blanchet'
 'Vitellina' 'Caucasica' 'Karst' 'Pseudoturneri' 'Shirofugen'
 "Blanche d'argenteuil" 'Altena' 'Autumnalis Rosea' 'Glauca pendula'
 'Professor Sprenger' 'Carruth' 'Fastigiatum' 'Leonard Springer' 'Morton'
 'Michelini' 'Redwing' 'Taïhaku' 'Agen' 'Nana' 'Franquette' 'Prairie Fire'
 'Monstrueux de vranja' 'Astrakan' 'Hersii' 'Minaret' 'Gloster' 'Fugenzo'
 'Wageningen' 'Beurre Giffard' 'Guyot' 'Accolade' 'Grise de Saint Jean'
 'Texas' 'Montreal Beauty' 'Winter Gold' 'Reinette du Mans' 'Crimson king']
----------------------------------------
Column name: stadededeveloppement
Number of unique values: 3
Unique values: ['Arbre adulte' nan 'Arbre jeune' 'Arbre vieillissant']
----------------------------------------
Column name: remarques
Number of unique values: 2974
Unique values: [nan 'Vigueur moyenne, lierre' 'Vigueur moyenne, arbuste' ...
 'Cépée de 2 brins vers 30cm - petite cavité ouverte au tronc avec altération du bois - gros bois mort'
 'Pas de houppier, dominé, coulure noiratre sur le tronc'
 "Anthracnose - une plaie de taille importante  avec bois sain d'une charpentière au niveau de la couronne"]
----------------------------------------
Column name: raisondeplantation
Number of unique values: 3
Unique values: [nan 'Remplacement' 'Nouveau' 'Existant']
----------------------------------------
Column name: traitementchenilles
Number of unique values: 3
Unique values: [nan 'Moyenne' 'Haute' 'Basse']
----------------------------------------
Column name: typeimplantationplu
Number of unique values: 4
Unique values: [nan 'Groupé' 'Alignement' 'Isolé' 'Périmètre']
----------------------------------------
Column name: intituleprotectionplu
Number of unique values: 3
Unique values: [nan 'ebc' 'L 123-1.7' 'L 123-1']
----------------------------------------
Column name: collectivite
Number of unique values: 2
Unique values: ['Grenoble Alpes Métropole' 'Ville de Grenoble' nan]
----------------------------------------
Column name: stationmetro
Number of unique values: 2
Unique values: [nan 'Alignement' 'Isolé']
----------------------------------------
Column name: hauteurarbre
Number of unique values: 3
Unique values: [nan 'de 10 m à 20 m' 'Moins de 10 m' 'Plus de 20 m']
----------------------------------------
Column name: portarbre
Number of unique values: 7
Unique values: [nan 'Libre' 'Semi-libre' 'Architecturé' 'Pleureur' 'Têtard' 'Pyramidale'
 'Chandelle']
----------------------------------------
Column name: structure
Number of unique values: 4
Unique values: ['Métropole de Grenoble' 'Ville de Grenoble' 'Ecole' nan 'CCAS']
----------------------------------------
Column name: forme
Number of unique values: 3
Unique values: ['Tige' nan 'Cépée' 'Palissé']
----------------------------------------
Column name: typenature
Number of unique values: 7
Unique values: [nan 'Libre' 'Semi-libre' 'Architecturé' 'Pleureur' 'Têtard' 'Pyramidale'
 'Chandelle']
----------------------------------------
Column name: geo_point_2d
Number of unique values: 31736
Unique values: ['45.175673908288694,5.749421158918044'
 '45.175689031385716,5.749449836814956'
 '45.175403375194556,5.748482643586666' ...
 '45.164310298174165,5.72386645777105'
 '45.160543156799626,5.723835565766619'
 '45.16462354239855,5.72746980135806']

**Check if some columns give the same information**

In [11]:
print("* Cross table for selected columns:",
      pd.crosstab(df['genre'], df['genre_desc'], margins=True),
      pd.crosstab(df['categorie'], df['categorie_desc'], margins=True),
      pd.crosstab(df['sous_categorie'], df['sous_categorie_desc'], margins=True),
      pd.crosstab(df['code_parent'], df['code_parent_desc'], margins=True),
      sep='\n'*2)

* Cross table for selected columns

genre_desc  VEGETATION    All
genre
VEG              31736  31736
All              31736  31736

categorie_desc  Arbre    All
categorie
ESP01           31736  31736
All             31736  31736

sous_categorie_desc  Arbre d'enceintes fermées  Arbre d'espaces ouverts  \
sous_categorie
ESP065                                    2390                        0
ESP151                                       0                        0
ESP174                                       0                    15283
ESP187                                       0                        0
All                                       2390                    15283

sous_categorie_desc  Arbre de voirie  Bois semi naturel    All
sous_categorie
ESP065                             0                  0   2390
ESP151                         12538                  0  12538
ESP174                             0                  0  15283
ESP187                             0               1525   1525
All                            12538               1525  31736

code_parent_desc  A A Lorraine Jaures à la Gare  \
code_parent
ESP10                                         0
ESP100                                        0
ESP1000                                       0
ESP1001                                       0
ESP1002                                       0
...                                         ...
ESP996                                        0
ESP997                                        0
ESP998                                        0
ESP999                                        0
All                                          22

code_parent_desc  A A Lorraine la Gare à Jaures  \
code_parent
ESP10                                         0
ESP100                                        0
ESP1000                                       0
ESP1001                                       0
ESP1002                                       0
...                                         ...
ESP996                                        0
ESP997                                        0
ESP998                                        0
ESP999                                        0
All                                          17

code_parent_desc  A DL Weill Arménie à Esclangon  A DL Weill Billat à Colombe  \
code_parent
ESP10                                          0                            0
ESP100                                         0                            0
ESP1000                                        0                            0
ESP1001                                        0                            0
ESP1002                                        0                            0
...                                          ...                          ...
ESP996                                         0                            0
ESP997                                         0                            0
ESP998                                         0                            0
ESP999                                         0                            0
All                                           32                           13

code_parent_desc  A DL Weill Colombe à Arménie  A F Viallet la Gare à Jaures  \
code_parent
ESP10                                        0                             0
ESP100                                       0                             0
ESP1000                                      0                             0
ESP1001                                      0                             0
ESP1002                                      0                             0
...                                        ...                           ...
ESP996                                       0                             0
ESP997                                       0                             0
ESP998                                       0                             0
ESP999                                       0                             0
All                                         15                            78

code_parent_desc  A Lorraine impair Gamb VHugo  \
code_parent
ESP10                                        0
ESP100                                       0
ESP1000                                      0
ESP1001                                      0
ESP1002                                      0
...                                        ...
ESP996                                       0
ESP997                                       0
ESP998                                       0
ESP999                                       0
All                                          5

code_parent_desc  A Lorraine impair Jaures Gambe  \
code_parent
ESP10                                          0
ESP100                                         0
ESP1000                                        0
ESP1001                                        0
ESP1002                                        0
...                                          ...
ESP996                                         0
ESP997                                         0
ESP998                                         0
ESP999                                         0
All                                           20

code_parent_desc  A Lorraine pair Gambet Jaures  \
code_parent
ESP10                                         0
ESP100                                        0
ESP1000                                       0
ESP1001                                       0
ESP1002                                       0
...                                         ...
ESP996                                        0
ESP997                                        0
ESP998                                        0
ESP999                                        0
All                                          16

code_parent_desc  A Lorraine pair Mazet Gambetta  ...  \
code_parent                                       ...
ESP10                                          0  ...
ESP100                                         0  ...
ESP1000                                        0  ...
ESP1001                                        0  ...
ESP1002                                        0  ...
...                                          ...  ...
ESP996                                         0  ...
ESP997                                         0  ...
ESP998                                         0  ...
ESP999                                         0  ...
All                                            5  ...

code_parent_desc  Trémie tram Sémard talus  Trémie tram ang Berriat  \
code_parent
ESP10                                    0                        0
ESP100                                   0                        0
ESP1000                                  0                        0
ESP1001                                  0                        0
ESP1002                                  0                        0
...                                    ...                      ...
ESP996                                   0                        0
ESP997                                   0                        0
ESP998                                   0                        0
ESP999                                   0                        0
All                                     14                        4

code_parent_desc  Verger Partagé Bajatière  Verger Vigny  \
code_parent
ESP10                                    0             0
ESP100                                   0             0
ESP1000                                  0             0
ESP1001                                  0             0
ESP1002                                  0             0
...                                    ...           ...
ESP996                                   0             0
ESP997                                   0             0
ESP998                                   0             0
ESP999                                   0             0
All                                      9            19

code_parent_desc  Villa Arthaud R Colonel Driant  Voie E O Cargo à J Perrot  \
code_parent
ESP10                                          0                          0
ESP100                                         0                          0
ESP1000                                        0                          0
ESP1001                                        0                          0
ESP1002                                        0                          0
...                                          ...                        ...
ESP996                                         0                          0
ESP997                                         0                          0
ESP998                                         0                          0
ESP999                                         0                          0
All                                            9                         66

code_parent_desc  Voie E O Stalingrad Berthelot  Voie E O cote voie ferree  \
code_parent
ESP10                                         0                          0
ESP100                                        0                          0
ESP1000                                       0                          0
ESP1001                                       0                          0
ESP1002                                       0                          0
...                                         ...                        ...
ESP996                                        0                          0
ESP997                                        0                          0
ESP998                                        0                          0
ESP999                                        0                          0
All                                          52                        226

code_parent_desc  Voie E O zone éduc routière    All
code_parent
ESP10                                       0      4
ESP100                                      0      3
ESP1000                                     0     21
ESP1001                                     0     41
ESP1002                                     0      8
...                                       ...    ...
ESP996                                      0      8
ESP997                                      0      5
ESP998                                      0     27
ESP999                                      0     20
All                                        17  31736

[1475 rows x 1475 columns]

**Removing empty and duplicated columns**

In [13]:
print("* Removing empty columns:", df.columns[df.isna().all()], sep='\n'*2)
df = df.dropna(how='all').dropna(how='all', axis=1)

* Removing empty columns:

Index([], dtype='object')

In [14]:
columns_to_drop = ['elem_point_id', 'code', 'nom', 'genre', 'genre_desc', 'categorie', 'categorie_desc', 'sous_categorie_desc', 'code_parent_desc', 'bien_reference']

print("* Removing duplicated or useless columns:", columns_to_drop, sep='\n'*2)

df = df.drop(columns=columns_to_drop)

* Removing duplicated columns or irrelevant data:

['elem_point_id', 'code', 'nom', 'genre', 'genre_desc', 'categorie', 'categorie_desc', 'sous_categorie_desc', 'code_parent_desc', 'bien_reference']

**Processing tree geolocation data**

A geolocation involves two values: longitude and latitude. When using them separately in a regression, we may miss informations. In fact, two trees may have the same latitude but are far when we consider their longitude. To avoid missing informations, we create a single feature that take into account both values.

We keep longitude and latitude in the dataset to use them in K Neighbors Regression, that can deal with both ([source](https://stackoverflow.com/questions/50423489/whats-the-best-way-of-using-gps-coordinate-in-regression-model)).

In [56]:
# Get longitude and latitude
df[['longitude', 'latitude']] = df['geo_point_2d'].str.split(",", expand = True).apply(pd.to_numeric)
df = df.drop(columns='geo_point_2d')

# Get location
df['location'] = geocode.reverse((df.latitude, df.longitude))

Scission de la colonne sur la localisation et Transformation des colonnes string en colonnes catégorielles

In [94]:
percent_of_na = pd.DataFrame(df.isna().sum())
percent_of_na.columns = ['percent']
percent_of_na.percent = percent_of_na.percent*100/len(df)
columns_with_50percent_missing = percent_of_na[percent_of_na['percent']>50].index.tolist()
print("Colonnes avec au minimum 50% de valeurs manquantes \n", columns_with_50percent_missing)
df = df.drop(columns=columns_with_50percent_missing)

Colonnes avec au minimum 50% de valeurs manquantes
 ['variete', 'remarques', 'raisondeplantation', 'traitementchenilles', 'identifiantplu', 'typeimplantationplu', 'intituleprotectionplu', 'stationmetro', 'portarbre', 'forme', 'typenature']

In [58]:
print("* Nombre de valeurs uniques des variables string de la base \n")

for i in df.select_dtypes('category'):
    print(f'{i} : ', df[i].nunique())

* Nombre de valeurs uniques des variables string de la base

sous_categorie :  4
code_parent :  1474
genre_bota :  116
espece :  279
variete :  219
stadededeveloppement :  3
remarques :  2974
raisondeplantation :  3
traitementchenilles :  3
typeimplantationplu :  4
intituleprotectionplu :  3
collectivite :  2
stationmetro :  2
hauteurarbre :  3
portarbre :  7
structure :  4
forme :  3
typenature :  7

In [59]:
print("Données sans et avec année de plantation \n")

print("Nombre d'arbres sans année de plantation =", df['anneedeplantation'].isna().sum())
df_sans_anneedeplantation = df.loc[df['anneedeplantation'].isna()]

df_model = df.dropna(subset=['anneedeplantation'])

Données sans et avec année de plantation

Nombre d'arbres sans année de plantation = 1592

In [1]:
codp = df[['code_parent','sous_categorie']].groupby('code_parent').count()
codp.sort_values('sous_categorie')

NameError: name 'df' is not defined